//logo

.header{
  &__logo{
    height: 5rem;
    margin-left: 3rem;
  }
}


//search box

.search{
  flex: 0 0 45%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 1rem 2rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.2rem;
    transition: all .2s;

      &:focus{
        outline: none;
        width: 100%;
        background-color: var(--color-grey-light-3);
      }

      &::-webkit-input-placeholder{
        font-weight: 300;
        color: var(--color-grey-light-4);;
      }
  }

  &__input:focus + &__button{
    background-color: var(--color-grey-light-3);
  }

  &__button{
    border: none;
      &:focus{
        outline: none;
      }

      &:active{
        transform: translateY(2px);
      }
  }

  &__icon{
    height: 2.5rem;
    width: 2.5rem;
    fill: var(--color-grey-dark-3);
  }
}


//Navigation

.user-nav{
  display: flex;
  align-self: stretch;
  align-items: center;

  & > *{
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover{
    background-color: var(--color-grey-light-2);
  }

  &__icon-box{
    position: relative;
  }

  &__icon{
    height: 3rem;
    width: 3rem;
    fill: var(--color-grey-dark-2);
    
  }

  &__notification{
    font-size: 1rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.9rem;
    right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &__user-photo{
    height: 5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

}